.contenedor{
    background-color: aquamarine;
    width: 800px;
    height: 100px;
}
.container{
    background-color: aquamarine;
    width: 800px;
    height: 400px;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
}
.enlace{
    background-color: yellow;
    width: 150px;
    height: 110px;

}
.ejemplo{
    background-color: beige;
    width: 450px;
    height: 120px;
}
.contenido{
    background-color: orange;
    width: 150px;
    height: 350px;
}
@media (max-width: 600px){
    .contenedor, .container, .enlace, .ejemplo, .contenido }