@charset "utf-8";
/* CSS Document */
body{
	color: black;
	background-color: blue;
	font-size: 100%;
}

.contenedor {
	width: 900px;
	height: 500px;
	background-color: aquamarine;
	margin: 0 auto;
	overflow: hidden;
	padding: 10px;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

.item1 {
	width: 150px;
	float: left;
	background-color: red;
}

ul {
	list-style-type: none;
}

a {
	color: white;
	text-decoration: none;
}

.item2 {
	width: 400px;
	margin: 0 0 0 25px;
	float: left;
	background-color: greenyellow;
}

.item3 {
	width: 200px;
	float: right;
	background-color: beige;
}
@media screen and
 (max-width: 800px){
	.item1, .item2, .item3{
		width: 100%;}
		.item2{
			margin: 0;
		}
}