
.contenedor{
    background-color: aquamarine;
    width: 800px;
    height: 400px;
    display: inline-flex;
    justify-content: space-between;
}


.nav{
    background-color: yellow;
    width: 150px;
    height: 110px;
    flex-direction: row;

}
.ejemplo{
    background-color: beige;
    width: 450px;
    height: 120px;
    flex-direction: row;
}
.contenido{
    background-color: orange;
    width: 150px;
    height: 350px;
    flex-direction: row;
}